language = "bash"
run = "echo '\n\n\n------------------------------------------------------------\n| Site is at https://obj-obj.github.io/Jam10Entry .        |\n| I'm using Jekyll, which I couldn't get to work on repl.it, |\n| so I linked this repl with a github repo instead.        |\n------------------------------------------------------------\n\nAlso, the full file history is only on github because repl was glitching and I had to delete/recreate the repl.'"