<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <link
            rel="stylesheet"
            href="https://obj-obj.github.io/assets/css/main.css"
        />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
        <link rel="icon" href="https://obj-obj.github.io/assets/m/logo.gif" />

        {% if page.title %}
        <title>{{ page.title }}</title>
        {% endif %} {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% endif %}

        <!-- SWUP -->
        <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    </head>

    <body>
        <div class="background"></div>
        <div class="transitiondiv" id="transitiondiv"></div>
        <a href="{{ site.baseurl }}/" id="homebutton"
            ><img
                src="https://obj-obj.github.io/assets/m/logo.gif"
                style="width: 50px; height: 50px"
        /></a>

        <button class="navbutton" onclick="togglenav();">
            <img
                class="full"
                src="https://obj-obj.github.io/assets/m/nav.svg"
            />
        </button>
        <div class="nav" id="nav">
            <br />
            <hr />
            <br />
            {% for item in site.data.nav %} {% if item.url %}
            <a href="{{ item.url }}">{{ item.page }}</a><br />
            {% else %}
            <p>{{ item.page }}</p>
            {% endif %} {% for entry in item.items %}
            <br /><a class="left1" href="{{ entry.url }}">{{ entry.page }}</a
            ><br />
            {% endfor %}
            <br />
            <hr />
            <br />
            {% endfor %}
        </div>

        <div id="wrapper">
            <div class="transition-slide main" id="swup">
                <br /><br /><br />

                {% if page.title %}
                <h1 id="{{ page.title }}">{{ page.title }}:</h1>
                {% endif %} {{ content }}

                <br /><br /><br /><br /><br /><br />
                <p>My discord is <code>[object Object]#7105</code>.</p>
                <br />
                <p>
                    View the code for this site at:
                    <a href="{{ site.github_url }}">GitHub</a>
                    <a href="{{ site.repl_url }}">Repl.it</a>
                </p>
                <p>
                    Libraries used:
                    <a
                        href="https://microsoft.github.io/monaco-editor/index.html"
                        >Monaco Editor</a
                    >
                    & <a href="https://swup.js.org/">Swup</a>
                </p>
                <p>
                    Thanks to
                    <a href="https://pages.github.com">GitHub Pages</a>
                    for hosting this site!
                </p>
                <br /><br /><br />
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="{{ site.baseurl }}/assets/js/script.js"></script>
        <script src="https://obj-obj.github.io/assets/js/functions.js"></script>
    </body>
</html>
